body{
  background-color: white;
  margin: 0;
  color: blue;
  
}
.topbar{
  align-items: center;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: solid black;
}
.home{
  height: 16px;
}
.logo{
  height: 25px;
  width: 70px;
  margin-left: 150px;
  margin-right: 20px; 
}
.nav-link{
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}
a{
  text-decoration: 0;
  color: rgb(19, 19, 195);
}
#search{
  margin-left: 300px;
  width: 30px;
  height: 30px;
}
#backimage{
  width: 1200px;
  height: 300px;
  border: solid rgb(19, 19, 195);
  border-radius: 20px;
}
.image{
  width: 1200px;
  margin: auto ;
  padding: 100px;
  
}
.facts{
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 0;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b4b1b1;;
  display: flex;
  justify-content: space-between;
  border: solid rgb(19, 19, 195);
  border-radius: 20px;
}
.fats{
  max-width: 115px;
  flex: 1;
}
#facts{
  font-size: 30px;
  color: black;
}
.acad{
  
  display: flex;
  justify-content: space-between;
  
}

.opt{
  background-color: #b4b1b1;;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 0;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  border: solid rgb(19, 19, 195);
  border-radius: 20px;
}
.study{
  width: 700px;
  border-right: solid black 1px;
  padding-right: 30px;
}
.programsearch{
  margin-left: 20px;
}
.enter, .keyword, .searchkey{
  display: block;
  margin-bottom: 10px;
}
h2{
  color: black;
}
.enter,.keyword{
  height: 35px;
  width:350px;
}
.searchkey{
  width: 180px;
  height: 35px;
  background-color: rgb(19, 19, 195);
  border: none;
  border-radius: 17px;
  color: white;
}
.newspan{
  background-color: #b4b1b1;;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 0;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 10px;
  border: solid rgb(19, 19, 195);
  border-radius: 20px;
}

.newsimg{
  display: flex;
  justify-content: space-between;
}
#newsimg{
  max-width: 250px;
}
#click{
  color: greenyellow;
}
.footer{
  color: white;
  padding: 50px;
  background-color: rgb(19, 19, 195);
  height: 400px;
}
.icons{
  height: 50px;
}
.info{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}



